body {
  background-color: black;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.App {
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: auto;
  z-index: 1;
}

.Score {
  position: absolute;
  top: 20px;
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%);
  color: white;
  font-size: 40px;
}

.hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px); /* Adjusted to account for the header height */
  overflow: hidden; /* Prevents scrollbars */
  z-index: 0; /* Ensure the images are inside the main container */
}

.random-image {
  position: absolute;
  cursor: pointer;
}

.CPS {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
}